doctype html
html
   head
      title= title
      link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
      link(rel="stylesheet", href="/stylesheets/bootstrap-theme.min.css")
        
   body
      div.container
         block content
      script(src='/javascripts/jquery-2.2.4.js')
      script(src='/javascripts/bootstrap.min.js')
                    