div.btn-group.btn-group-lg(role="group")
    - for (var i = 0 ; i < subjects.length ; i++) {
        a.btn.btn-default(type="button", href="/tarea1/#{subjects[i].clave}/#{subjects[i].seccion}" ) #{subjects[i].nombre}(#{subjects[i].seccion})
    - }